     html,
    body {
      
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      margin: 0;
      height: 480px;
      padding: 0;
      width: 384px; 
    }

    .modal-header {
      align-items: center;
      border-bottom: 0.2px solid #dadada;
    }

    .modal-content {
      
      padding: 0 22px;
    }

    .modal-icons {
      border-top: 0.5px solid #dadada;
      height: 50px;
      width: 100%;
      margin-top: 5%;
    }

    .logo {
      padding: 16px;
    }

    .logo-icon {
      vertical-align: text-bottom;
      margin-right: 12px;
    }

    .version {
      color: #444;
      font-size: 18px;
    }

    .flex-container {
      display: flex;
      justify-content: space-between;
      padding: 10px 22px;
    }

    .flex {
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
      width: 120px;
    }

    .flex:hover {
      opacity: 0.4;
    }

    .flex .fab {
      padding: 7px;
        font-size: 24px;
        width: 31px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
    }
    .flex .fa {
      padding: 7px;
        font-size: 30px;
        width: 31px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
    }
  #text-to-speech{
    font-size:14pt;
    max-height:70vh;
  max-width:60vw;
  }
  
         /*Text*/
            .center {text-align: center;}

            .centerB {
              margin: auto;
              max-height:70vh;
              max-width:60vw;
              border: 3px solid transparent;
              border-image-slice: 1;
              border-radius: 10px;  /* will have no effect */
            }

             .button{
              font-size:14pt;
              border: none;
              outline: none;
              color: rgb(255, 255, 255);
              background: #111;
              cursor: pointer;
              position: relative;
              z-index: 0;
              border-radius: 10px;
              user-select: none;
              -webkit-user-select: none;
              touch-action: manipulation;
            }  
            #start{
              width: 100%;
              background-color: lawngreen;
            }
            #pause{
              width: 50%;
              float: left;
              background-color: orange;
            }
            #resume{
              width: 50%;
              float: left;
              background-color: orange;
            }
            #cancel{
              width: 50%;
              float: none;
              background-color: red;
            }

            .darkmode{
              background-color: #131313;
              color-scheme: dark;
              color: white;
         }
          
            
            
            
            /* CSS */
            .dark-mode-toggle {
              bottom: 20px;
              padding: 0.6em 2em;
              border: none;
              outline: none;
              color: rgb(255, 255, 255);
              background: #111;
              cursor: pointer;
              position: relative;
              z-index: 0;
              border-radius: 10px;
              user-select: none;
              -webkit-user-select: none;
              touch-action: manipulation;
            }
            
            .dark-mode-toggle:before {
              content: "";
              background: linear-gradient(
                45deg,
                #ff0000,
                #ff7300,
                #fffb00,
                #48ff00,
                #00ffd5,
                #002bff,
                #7a00ff,
                #ff00c8,
                #ff0000
              );
              position: absolute;
              top: -2px;
              left: -2px;
              background-size: 400%;
              z-index: -1;
              filter: blur(5px);
              -webkit-filter: blur(5px);
              width: calc(100% + 4px);
              height: calc(100% + 4px);
              animation: glowing-button-85 20s linear infinite;
              transition: opacity 0.3s ease-in-out;
              border-radius: 10px;
            }
            
            @keyframes glowing-button-85 {
              0% {
                background-position: 0 0;
              }
              50% {
                background-position: 400% 0;
              }
              100% {
                background-position: 0 0;
              }
            }
            
            .dark-mode-toggle:after {
              z-index: -1;
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              background: #222;
              left: 0;
              top: 0;
              border-radius: 10px;
            }


             .rate-button{
              position: absolute;
              top: 376px;
              left: 60%;
              width: 88px;
            } 

            .input-rate{
              position: absolute;
              top: 72%;
              left: 60%;
              width: 80px;
            }
            .rate-name{
              position: absolute;
              top: 68%;
              left: 68%;
            }
            .pitch-button{
              position: absolute;
              top: 376px;
              left: 20%;
              width: 88px;
        
            }
            .input-pitch{
             position: absolute;
              top: 72%;
              left: 20%;
              width: 80px;
            }
            .pitch-name{
               position: absolute; 
              top: 68%;
              left: 100px;
            }
            .pitch-and-rate{
              margin-top: 10px;
            }
            .Browser-language{
              margin-top: 69px;
            }
            .language-nav{
              margin-top: 5px;
            }

            .ttsplay {
               background-color: rgb(0,0,0);
              background-color: rgba(0,0,0, 0.4);
              color: white;
              font-weight: bold;
              border: 3px solid #f1f1f1;
              position: absolute;
              top: 83%;
              transform: translate(-50%, -50%);
              z-index: 2;
              backdrop-filter: blur(4px);
              width: 180%;
              padding: 108px;
              text-align: center; 
          }
          .ttsplay .text{
            text-align: center; 
            color: white;
            margin-left: 50%;
            margin-top: -93px;
          }
          .ttsplay .text-line2{
            text-align: center; 
            color: white;
            margin-left: 50%;
            margin-top: 0px;
          }   
            
          /* The Modal (background) */
.modal-error {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-error {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close-error {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.close-error:hover,
.close-error:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}