     html,
    body {
      
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      margin: 0;
      min-height: 180px;
      padding: 0;
      width: 384px;
    }

    .modal-header {
      align-items: center;
      border-bottom: 0.2px solid #dadada;
    }

    .modal-content {
      
      padding: 0 22px;
    }

    .modal-icons {
      border-top: 0.5px solid #dadada;
      height: 50px;
      width: 100%;
      margin-top: 5%;
    }

    .logo {
      padding: 16px;
    }

    .logo-icon {
      vertical-align: text-bottom;
      margin-right: 12px;
    }

    .version {
      color: #444;
      font-size: 18px;
    }

    .flex-container {
      display: flex;
      justify-content: space-between;
      padding: 10px 22px;
    }

    .flex {
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
      width: 120px;
    }

    .flex:hover {
      opacity: 0.4;
    }

    .flex .fab {
      padding: 7px;
        font-size: 24px;
        width: 31px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
    }
    .flex .fa {
      padding: 7px;
        font-size: 30px;
        width: 31px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
    }
    .fa-twitter {
        background: #55ACEE;
        color: white;}
    
        .fa-youtube {
        background: #bb0000;
        color: white;}
    
        .fa-instagram {
        background: rgb(255,189,79);
        background: linear-gradient(0deg, rgba(255,189,79,1) 0%, rgba(174,52,163,1) 61%, rgba(92,98,184,1) 100%);
        color: white;}
    
        .fa-tiktok {
        background: black;
        color: white;}
      
        .fa-twitch {
        background: purple;
        color: white;}
  #text-to-speech{
    font-size:14pt;
    max-height:70vh;
  max-width:60vw;
  }
  
         /*Text*/
            .center {text-align: center;}

            .centerB {
              margin: auto;
              max-height:70vh;
              max-width:60vw;
              border: 3px solid transparent;
              border-image-slice: 1;
              border-radius: 10px;  /* will have no effect */
            }

             .button{
              font-size:14pt;
              width: 100%;
              border: none;
              outline: none;
              color: rgb(255, 255, 255);
              background: #111;
              cursor: pointer;
              position: relative;
              z-index: 0;
              border-radius: 10px;
              user-select: none;
              -webkit-user-select: none;
              touch-action: manipulation;
            }  


            .darkmode{
              background-color: #131313;
              color-scheme: dark;
              color: white;
         }
          
            
            
            
            /* CSS */
            .dark-mode-toggle {
              bottom: 20px;
              padding: 0.6em 2em;
              border: none;
              outline: none;
              color: rgb(255, 255, 255);
              background: #111;
              cursor: pointer;
              position: relative;
              z-index: 0;
              border-radius: 10px;
              user-select: none;
              -webkit-user-select: none;
              touch-action: manipulation;
            }
            
            .dark-mode-toggle:before {
              content: "";
              background: linear-gradient(
                45deg,
                #ff0000,
                #ff7300,
                #fffb00,
                #48ff00,
                #00ffd5,
                #002bff,
                #7a00ff,
                #ff00c8,
                #ff0000
              );
              position: absolute;
              top: -2px;
              left: -2px;
              background-size: 400%;
              z-index: -1;
              filter: blur(5px);
              -webkit-filter: blur(5px);
              width: calc(100% + 4px);
              height: calc(100% + 4px);
              animation: glowing-button-85 20s linear infinite;
              transition: opacity 0.3s ease-in-out;
              border-radius: 10px;
            }
            
            @keyframes glowing-button-85 {
              0% {
                background-position: 0 0;
              }
              50% {
                background-position: 400% 0;
              }
              100% {
                background-position: 0 0;
              }
            }
            
            .dark-mode-toggle:after {
              z-index: -1;
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              background: #222;
              left: 0;
              top: 0;
              border-radius: 10px;
            }


             .rate-button{
              position: absolute;
              top: 376px;
              left: 60%;
              width: 88px;
            } 

            .input-rate{
              position: absolute;
              top: 354px;
              left: 60%;
              width: 80px;
            }
            .rate-name{
              position: absolute;
              top: 338px;
              left: 68%;
            }

            .pitch-button{
              position: absolute;
              top: 376px;
              left: 20%;
              width: 88px;
        
            }
            .input-pitch{
              position: absolute;
              top: 354px;
              left: 20%;
              width: 80px;
            }
            .pitch-name{
              position: absolute;
              top: 338px;
              left: 100px;
            }

            .Browser-language{
              margin-top: 15%;
            }
            .language-nav{
              margin-top: 5%;
            }